<h1>Welcome to your chat</h1>
<div>
    <i id="username"></i> <input id="chatbox">
</div>
<div id="logs"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>
{{!-- se crea el codigo javascript desde la carpeta utils. lo importamos acá para iniciar la conexion de socket io en index.js. la carpeta publica, en las routes llamamos a los handlebars. es de la carpeta public. el dinamismo en tiempo real se encuentra del lado del servidor, no handlebars. el dinamismo con websocket la página se mantiene allí y se va actualizando el DOM a medida que van llegando los mensajes --}}